@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Source+Sans+Pro&family=Source+Serif+Pro:wght@200&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}
body {
  background-image: url("./background.jpg");
  max-height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
h1 {
  font-weight: normal;
  font-size: 4rem;
  margin-top: -18rem;
}
.countdown-container {
  display: flex;
}
.big-text {
  font-size: 6rem;
  line-height: 1;
  margin: 0 2rem;
}
.countdown-el {
  text-align: center;
}
.countdown-el span {
  font-size: 1.4rem;
}
